@media only screen and (min-width: 1224px) {
  /* Desktop */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {

.main {
  width: 100%;
  height: 60%;
  bottom: 0;
}

.sidemenu {
  width: 100%;
  height: 40%;
  bottom: 0;
  font-size: 20px;
  position: relative;
}

.cell {
  width: 400px;
}

.cell img {
  width: 400px;
}

.main2 {
  width: 100%;
  height: 60%;
  bottom: 0;
}

.sidemenu2 {
  width: 100%;
  height: 40%;
  bottom: 0;
  font-size: 20px;
  position: relative;
}

.timelineText {
  font-size: 10px;
}


}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */